
.card{ 
    width: 120.6% ;
    height:70vh ;
    margin-Top:7px; 
    background:white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-left: -18px;

    
}




.h{
    width:  60px ;
    height:60px;
    border-Radius: 30px;
    margin-Top:22px;
    margin-left: 27px;
} 


.na{
    width: 105px;
    height: 19px;
    left: 492px;
    top: 238px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 50;
    font-size: 20px;
    line-height: 19px;
    margin-left: 95px;
    margin-Top:-70px;
    color: #000000;
    cursor: pointer;
    
}



.a{
    left: 590px;
    top: 230px;
    color: #5F5F5F;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-Top:-33px;
    margin-left: 170px;
    
    
}

.ct{
    width: 400px ;
    left: 493px;
    top: 678px;    
    font-family: Roboto ;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-Left:76px;
    margin-top: -30px;
}



.post{
    width:400px;
    height:245px;
    border-Radius:20px;
    margin-Top:15px;
    margin-Left:68px
}


.CardFooter{
background-color:red;
border: none;
/* height: 50px; */
}
.f{
    display: inline-block;
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Left:100px;
    margin-right:20px;
    
}

/* .f{
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Top:-80px;
    margin-Left:200px
}  */
.lik{
    display: inline;
    margin-top: 20px;
background-color: transparent;
font-size:24px;
color:green;  
}

.lik:hover{
    display: inline;
    margin-top: 20px;
background-color: none;
font-size:24px;
color:green;  
}


.unlik{
    display: inline;
    background-color: transparent;
    font-size:24px;
    color:green;  
    
}.unlik:hover{
    display: inline;
    background-color: transparent;
    font-size:24px;
    color:green;  
    
}

/* .com{
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Top:-95px;
    margin-Left:70px
   
}  */

.comm{
    display: inline-block;
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Left:60px;
    margin-top: -24px;
   
} 
/* .comm{
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Top:-65px;
    margin-Left:70px
   
}  */

.li{
    width: 25px;
    height:25px;
    border-Radius:10px;
    margin-Top:-105px;
    margin-Left:65px
}
.foo {
   
    width: 100%;
    margin: 0 auto;
  
    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      width: 75%;
     
    }
  
    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      width: 50%;
     
    }
    @media only screen and (min-width : 768px) {
        width: 75%;
       
      }
  }




  like
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background: #fff;
    font: 1em verdana, sans-serif;
    }
    [id='toggle-heart'] {
    position: absolute;
    left: -100vw;
    }
    [id='toggle-heart']:checked + label {
    color: #65a844;
    -webkit-filter: none;
    filter: none;
    will-change: font-size;
    -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
    }
    [id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
    -webkit-animation: inherit;
    animation: inherit;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    [id='toggle-heart']:checked + label:before {
    will-change: transform, border-width, border-color;
    -webkit-animation-name: bubble;
    animation-name: bubble;
    }
    [id='toggle-heart']:checked + label:after {
    will-change: opacity, box-shadow;
    -webkit-animation-name: sparkles;
    animation-name: sparkles;
    }
    [id='toggle-heart']:focus + label {
    text-shadow: 0 0 3px white, 0 1px 1px white, 0 -1px 1px white, 1px 0 1px white, -1px 0 1px white;
    }
    [for='toggle-heart'] {
    align-self: center;
    position: relative;
    color: #888;
    font-size: 2em;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    }
    [for='toggle-heart']:before, [for='toggle-heart']:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    content: '';
    }
    [for='toggle-heart']:before {
    box-sizing: border-box;
    margin: -2.25rem;
    border: solid 2.25rem #65a844;
    width: 4.5rem;
    height: 4.5rem;
    -webkit-transform: scale(0);
    transform: scale(0);
    }
    [for='toggle-heart']:after {
    margin: -0.1875rem;
    width: 0.375rem;
    height: 0.375rem;
    box-shadow: 0.32476rem -3rem 0 -0.1875rem #65a844, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
    }
    @-webkit-keyframes heart {
    0%, 17.5% {
    font-size: 0;
    }
    }
    @keyframes heart {
    0%, 17.5% {
    font-size: 0;
    }
    }
    @-webkit-keyframes bubble {
    15% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
    }
    30%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
    }
    }
    @keyframes bubble {
    15% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
    }
    30%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
    }
    }
    @-webkit-keyframes sparkles {
    0%, 20% {
    opacity: 0;
    }
    25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #65a844, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #65a844;
    }
    }
    @keyframes sparkles {
    0%, 20% {
    opacity: 0;
    }
    25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #65a844, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #65a844;
    }
    }
    


    #heartlike{
        color: yellow;

        /* border-Radius:10px; */
        margin-top:390px;
        margin-right:150px;
        font-size: 25px;
        }
     #heartunlike{
        color: red;
        margin-top:390px;
        margin-right:150px;
        font-size: 25px;
    }
