.cmt_btn{
    background: url('../../image/mes.png');
    background-repeat: no-repeat;
    width:25px;
    height: 25px;
    margin-left: 25px;
} 
.center{
    margin-bottom: 16px;
} 



.input{
    display: inline;
    border: none;
    width: 80%;
    border: none;
    height: 80px;
    margin-left: 40px;
    
}


.input::placeholder{
    padding-left:20px;
    padding-top: 4px;
}


 .cb{
    width: 40px;
    height: 35px;
    padding-top:-1px;
    border:none;
    background-color: white;
    color:green;
    border-radius:none;
    font-size: 25px;
    margin-right: 460px;
}
 .cb:hover{
    border-radius: 15px; 
    background-color: rgb(202, 241, 202);
    margin-right:460px;
    color:black;



} 

textarea {
    width: 400px;
    height: 100px;
    margin-left: 60px;
    margin-top: -30px;
    padding: 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background-color:white;
    font-size: 16px;
    resize: none;
    outline:none;
    overflow: hidden;
  }

  .texttopicon{
    color:green;
   font-size: 50px;

  }

  .postsuccess{
    background-color: green;
    color:white;
    width: 80px;
    border: none;
    height: 30px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 0px;
 
  }
.footdiv{
    background-color: white;
    margin-left:0px;
}
  .footfirst{
    color:green;
   font-size: 25px;
   margin-right: 450px;
   width: 25px;
}
.footsecond{
    color:green;
    font-size: 30px;

}
.footthird{
    color:green;
    font-size: 35px;

}


.modalbody{
background-color: red;
width: 500px;

}

textarea::placeholder{
    color:black;
    padding: 0px;
    font-size: 20px;
}
.style{
    height:30px;
    width:30px;
    margin-right:19px;
    margin-top: -15px;
}



