.sidenav
{
  margin-left: -400px;
  margin-top: -50px;
  position: fixed;
}
.sidenavul
{
  list-style: none;
}
.sidenavul li a
{
  text-decoration: none;
  color: rgb(158, 154, 154);
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sidenav li
{
    padding: 10px;
    margin-left: 55px;
}
.sidenavul li a:hover
{
  color: #65a844;  
  background-color: rgb(237, 255, 230);
  border-radius: 25px;
  width: 100%;
}
.postbtn
{
    background-color: #65a844;
    border: none;
    color: white;
    width: 170px;
    height: 50px;
    font-size: 22px;
    border-radius: 25px;
    margin-left: 100px;
}




