

.profile-format{
    margin: 70px 0 0 0px;
}
.field{
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 255, 205);
    margin-top: 25px;
    width: 610px !important;
    }
.namefield{
  width: 700px !important;
}
input[type="file"] {
        display: none;
      }
      
      .img-wrap{
        position: relative;
         overflow: hidden;
        border-radius: 0%;
      }

      .img-upload:before{
        content: "\f093";
        font-size: 90px;
        position: absolute;
        padding-top: 80px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #63d3a6;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        opacity: 0;
        transition: .5s ease;
        background-color: #fff;
        
      }
      .name{ 
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        color: #676767;
        max-width: 80px;
        overflow-wrap: break-word;
      }
      .bio{ 
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        color: #676767;
        max-width: 80px;
        overflow-wrap: break-word;
      }
      .status{
        text-align: center;
        max-width: 80px;
        font-weight: 900;
        color: #676767;
        overflow-wrap: break-word;
        text-transform: lowercase;
      }
      
       img {
         width: auto;
         height: 100%;
       }
       label{
        text-transform: uppercase;
        font-weight: 700;
        color: #676767;
        color: #65a844;
        margin-left: 5px;
        margin-top: 5px;
      }
      input{
        border-radius: 15px;
        border: 1px solid #b7b7b7;
        padding: 5px 5px 5px 10px;
        font-size: 18px;
        transition: 0.2s;
        background-color: rgb(225, 255, 205);
        border:none;
        border-bottom: 2px solid #65a844;
        width: 100%;
        height: 30px;
      }
      input:focus{
        outline: none;
        border: 1px solid #64d488;
      }
      input::placeholder{
        color: #bebebe;
      }
      button{
        position: relative;
        color: #054231;
        letter-spacing: 1px;
        margin: 5px;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        transition: 0.5s;
      
        cursor: pointer;
        border-radius: 25px;
        border: none;
        background: #64d488;
      }
      button:hover{
        left: 0;
        color: #fff;
       
      }
      button:focus{
        outline: none;
      }
      .lds-ripple {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
      }
      .lds-ripple div {
        position: absolute;
        border: 4px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      .lds-ripple div:nth-child(2) {
        animation-delay: -0.5s;
      }
      .fa-instagram:hover{
        font-size: 42px;
        color: #caff81;
        transition: all .1s linear;
        cursor: pointer;
      }