.sidenavline
{
    border-left: 1px solid rgb(231, 231, 231);
    height: 750px;
    width: 1px;
    margin-left: 50%;
    position: fixed;
    margin-top: -215px;
}
.sidenavline1
{
    border-left: 1px solid rgb(231, 231, 231);
    height: 750px;
    width: 1px;
    margin-left: 49%;
    position: fixed;
    margin-top: -215px;
}

.sidenavline img

{
    height: 750px;
    width: 1px;
    margin-left: 50%;

}
.newsfeedline
{
    border-left: 1px solid rgb(231, 231, 231);
    height: 750px;
    width: 1px;
    margin-left: 75px;
    margin-top: -75px;
    position: fixed;
}
.navigate
{
    position: fixed;
}
