.navbar
{
  width: 1355px;
  height: 50px;
  background-color:white;
  box-shadow: 0px 1px 8px -5px black;
  margin-left: -300px;

  z-index: 999;
  margin-top: -35px;
  
}
.head{
  margin-left: 575px;
  margin-top: -10px;
  color: #65a844;
}
.searchip
{
  background-color: #e2f5d8;
  border: none;
  height: 27px;
  width: 250px;
  border-radius: 25px;
  margin-top: -10px;
  margin-left: -130%;
}
input[type='text']{
  padding-left: 25px ;
}
.searchip::placeholder
{
 padding: 15px;
}
.searchip:focus
{
  outline: none;
}