.button{
    background-color: green;
    color:white;
    width: 125px;
    border: none;
    height: 40px;
    border-radius: 2000px;
    font-size: 15px;
    margin-left: 60px;

} 

.button:hover{
    background-color: green;

}
.center{
    margin-bottom: 16px;
} 



.input{
    border: none;
    width: 80%;
    border: none;
    height: 80px;
    margin-left: 40px;
    
}


.input::placeholder{
    padding-left:20px;
    padding-top: 4px;
}


 .cb{
    width: 30px;
    height: 30px;
    padding-top:-1px;
    border:none;
    background-color: white;
    color:green;
    border-radius:100%;
    font-size: 25px;
    margin-right: 460px;
}
.cb p{
    margin-top: -7px;
}
 .cb:hover{
    border-radius: 100%;
    background-color: rgb(202, 241, 202);
    margin-right:460px;
    color:black;

} 

textarea {
    width: 400px;
    height: 100px;
    margin-left: 60px;
    margin-top: -30px;
    padding: 0px 0px;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background-color:white;
    font-size: 16px;
    resize: none;
    outline:none;
    overflow: hidden;
  }

  .texttopicon{
    color:green;
   font-size: 50px;

  }

  .postsuccess{
    background-color: green;
    color:white;
    float: right;
    width: 80px;
    border: none;
    height: 30px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 5px;
 
  }
.footdiv{
    background-color: white;
    margin-left:0px;
}
  .footfirst{
    color:green;
   font-size: 25px;
   margin-right: 450px;
   width: 25px;
}
.footsecond{
    color:green;
    font-size: 30px;

}
.footthird{
    color:green;
    font-size: 35px;

}
.modal-content{
    border-radius: 10px;
}

.modalbody{
background-color: red;
width: 500px;

}

textarea::placeholder{
    color:black;
    padding: 0px;
    font-size: 20px;
}
 

button.chooseFileButton{
    width: 150px;
    border: none;
}


.dontshow{
    display:none;
}



.first{
    width:20px;
    height:16px;
    margin-left:5px;

}


.four{
    width:20px;
    height:20px;
    margin-left:5px;
    margin-right:242px;

}

@media screen and (max-width:800px) {
 
textarea{
    width:250px;
}

.first{
    width:20px;
    height:16px;
    margin-left:5px;
}
.four{
    width:20px;
    height:20px;






    margin-right:78px;

}
}










  #image{
      border:2px solid black;
      border-radius: 16px;
      position: relative;
  }

  #image img{
    border:2px solid white;
    border-radius:16px;
    width:100%;
    height:25%;

  }


  span{
      color: green;
position: absolute;  
top:0;
right: 8px;
border-radius: 8px;
}

span:hover{
    cursor: pointer;
}